@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pri-color: #BEEC42;
  --sec-color: #9D9C89;
  --foreground-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
