@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --pri-color: #beec42;
  --sec-color: #9d9c89;
  --foreground: black;
  --background: white;
}

*:focus {
  outline-color: #beec42;
}

@media (prefers-color-scheme: dark) {
  html.dark {
    --foreground: white;
    --background: #121212;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.form-err-msg {
  color: #a94442;
  border-width: 1px;
  border-style: solid;
  margin-top: 8px;
  padding: 10px;
  border-color: #ebccd1;
  background-color: #f2dede;
  border-radius: 6px;
  font-size: 12px;
}
